:root {
	--controller-height: 6.5em
}

.lobby-container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto var(--controller-height);
	grid-template-columns: 13em repeat(auto-fit, minmax(0px, 100%));
}

.left-panel {
	grid-column: 1;
	grid-row: 1;
	overflow-y: auto;
	background-color: #2f3136;
}

.left-panel .left-panel-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.center-content {
	grid-column: 2;
	grid-row: 1;
	overflow-y: auto;
	background-color: #2f3136;
}

.center-content-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #36393f;
	border-radius: 0.5em;
}

.right-panel {
	grid-column: 3;
	grid-row: 1;
	background-color: #2f3136;
	overflow-y: auto;
}

.controls-section {
	background-color: #202225;
	grid-column: 1 / 4;
	grid-row: 2;
}

@media screen and (max-width: 786px) {

	.center-content {
		width: calc(100vw - 13em)
	}

	.right-panel {
		position: absolute;
		right: 0;
		height: calc(100vh - var(--controller-height));
		max-width: 100vw;
	}

}
