.lobby-container {
	height: 100vh;
	/* width: 100vw; */
	display: grid;
	/* grid-template-columns: 1fr 2fr 1fr; */
}

.room-info-section {
	grid-column: 1;
	grid-row: 1;
	background-color: burlywood;
}

.search-section {
	grid-column: 2;
	grid-row: 1;
	background-color: cadetblue;
}

.chatbox-section {
	grid-column: 3;
	grid-row: 1 / 6;
	background-color: cornflowerblue;
	overflow-y: auto;
}

.participants-section {
	grid-column: 1;
	grid-row: 2 / 6;
	background-color: crimson;
	overflow-y: auto;
}

.current-song-section {
	grid-column: 2;
	grid-row: 2;
	background-color: lightseagreen;
}

.queue-section {
	grid-column: 2;
	grid-row: 3 / 6;
	background-color: deepskyblue;
	overflow-y: auto;
}

.controls-section {
	background-color: indianred;
	grid-column: 1 / 4;
	grid-row: 6;
}
