.flex-container {
  background-color: #65c8d0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .flex-container > div {
  flex: 1 1 auto;
  margin: 5px;
} */

/* .title {
  background-color: #ffc0cb;
  font-size: 75px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

/* .user-text {
  background-color: #ffc0cb;
  font-size: 30px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

/* .choice-button {
  background-color: #e6e6fa !important;
  height: 100px;
  width: 300px;
  margin-top: 75px !important;
} */

.form {
  background-color: #ffffff;
  margin-top: 250px !important;
}

.login-card {
  width: fit-content;
}
.content-in-card {
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 500px;
}

/* .whale {
  background: url("../resource/Whale_Vector.svg");
  background-position: left;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 10px;
  background-repeat: no-repeat;
  background-size: 60px;
  margin: 10px;
} */
/* 
.button-text {
  font-size: 25px;
  font-style: Lucida;
  text-align: right;
} */

/* .second-choice-button {
  background-color: #e6e6fa !important;
  order: 2;
  height: 100px;
  width: 300px;
  margin-top: 75px !important;
} */
