.flex-container {
  height: 100vh;
}

.login-card {
  width: 80%;
  max-width: 800px;
  min-height: 450px;
  height: 40%;
  max-height: 600px;
  background-color: transparent;
  border-radius: 16px;
  color: white;
  box-shadow: none;
}

.login-header {
}

.login-image {
  background-color: white;
  width: 25%;
  border-radius: 15px;
  padding: 0px 20px 0px 20px;
}

.login-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
  border-radius: 15px;
  background: rgba( 0, 0, 0, 0.5 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 0, 0, 0, 0.18 );
}

.login-card-body-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.login-card-body-content .outlined-button {
  box-shadow: none;
}

.login-card-body-content input {
  box-shadow: none!important;
}

.login-input {
  width: 80%;
}

.main-login-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button-group {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 0 10%;
}
