.controls {
    position: relative;
    display: flex;
    margin: 0 1em 0 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls button {
    width: 3em;
    margin: 0.5em 0.25em 0.5em 0.25em;
    padding: 10px 10px 10px 10px;
}

.controls button.primary {
    width: 4em;
    height: 4em;
}

.controls button.primary i.fa-play {
    padding-left: 4px;
}

/* Note: progress-bar is defined by Material Design Bootstrap */
.custom-progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-progress-bar .song-progress {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.custom-progress-bar .song-length {
    width: 100px;
    text-align: left;
    margin-left: 10px;
}

.left-section {
    position: absolute;
    left: 0;
}

.volume-slider {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-slider i {
    width: 18px;
}

.volume-slider input {
    margin-left: 3px;
}
